@import "tailwindcss";

body {
    margin: 0;
    font-family: "Montserrat", sans-serif, "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

@theme {
    --color-background: #e7eff2;
    --color-accent-background: #2237f0;
}

@layer base {
    * {
        box-sizing: border-box;
    }
}
