@import "tailwindcss";

body {
    margin: 0;
    font-family: "Montserrat", sans-serif, "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

@theme {
    --color-background: #e7eff2;
    --color-accent-background: #2237f0;
}

@layer base {
    * {
        box-sizing: border-box;
    }

    h1 {
        @apply text-4xl font-extrabold;
    }

    h2 {
        @apply text-3xl font-bold;
    }

    h3 {
        @apply text-2xl font-bold;
    }

    h4 {
        @apply text-xl font-semibold;
    }

    h5 {
        @apply text-lg font-semibold;
    }

    h6 {
        @apply text-base font-bold;
    }
}
