@import "tailwindcss";

body {
    margin: 0;
    font-family: "Montserrat", sans-serif, "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

@theme {
    --color-background: #f2e8fa;
    --color-background-dark: #bab2c0;

    --color-accent-background: #f8fafd;
    --color-accent-background-dark: #565656;

    --color-primary: #2638dd;
    --color-primary-dark: #0d134c;

    --color-secondary: #f4511e;
    --color-secondary-dark: #e3683e;
}

@layer base {
    * {
        box-sizing: border-box;
    }

    h1 {
        @apply text-3xl font-extrabold;
    }

    h2 {
        @apply text-3xl font-bold;
    }

    h3 {
        @apply text-2xl font-bold;
    }

    h4 {
        @apply text-xl font-semibold;
    }

    h5 {
        @apply text-lg font-semibold;
    }

    h6 {
        @apply text-base font-bold;
    }
}
